.header {
  height: auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-bottom: 10px;
}
.header_logo {
  width: 80px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
  border-radius: 50%;
}
.header_container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}
.header_search {
  display: flex;
  flex: 0.8;
  align-items: center;
}
.header_searchInput {
  border-radius: 20px;
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #f4e2d8;
}
.header_optionLineOne {
  font-size: 10px;
}
.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header_optionBasket {
  display: flex;
  align-items: center;
  color: black;
}
.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.header_dropdown {
  background-color: #fff;
  color: black;
  border: none;
}
